/* Estilos do Footer */
.footer {
    background-color: #2e8b57;
    padding: 20px 0;
    color: white;
    font-size: 14px;
    position: relative;
    width: 100%;
  }
  
  /* Container para o conteúdo do footer */
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Copyright alinhado à esquerda */
  .copyright {
    text-align: left;
    font-size: 12px;
  }
  
  /* Logo e texto "Desenvolvido por C.R.I.S" centralizados */
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .footer-logo .icon {
    width: 70px;  /* Aumenta o tamanho da logo */
    height: auto;
  }
  
  .developer-text {
    font-size: 12px;
    margin-top: 5px;
    color: #dcdcdc;
  }
  
  /* E-mail à direita */
  .contact {
    font-size: 14px;
  }
  
  .contact-email {
    color: white;
    text-decoration: none;
  }
  
  .contact-email:hover {
    color: #dcdcdc;
  }
  