/* Container principal para a página */
.fazendas-cadastradas-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding-top: 50px;
  }
  
  /* Layout do conteúdo da página */
  .page-content {
    display: flex;
    margin-top: 60px; /* Deixa o conteúdo abaixo do header fixo */
    flex-grow: 1;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: flex-start; /* Alinha o conteúdo no topo da tela */
    width: 100%; /* Garante que a largura ocupe 100% */
  }
  
  /* Container para as fazendas listadas */
  .fazendas-list {
    display: flex;
    flex-direction: column; /* Faz as fazendas ficarem uma abaixo da outra */
    gap: 20px;
    padding: 40px;
    width: 100%; /* Largura da lista de fazendas, ocupando 80% da tela */
    max-width: 900px; /* Limita a largura máxima para telas maiores */
    box-sizing: border-box; /* Garante que o padding não ultrapasse o limite da largura */
  }
  
  /* Estilo da caixa de cada fazenda */
  .fazenda-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Transição suave para o efeito de hover */
    cursor: pointer; /* Indicando que a caixa é clicável */
  }
  
  /* Efeito de hover na caixa das fazendas */
  .fazenda-box:hover {
    transform: scale(1.05); /* Aumenta um pouco o tamanho da caixa quando passar o mouse */
    box-shadow: 0 4px 12px rgba(15, 102, 26, 0.51); /* Intensificando a sombra para destacar o hover */
    background-color: #f9f9f9; /* Altera a cor de fundo para um tom mais claro */
  }
  
  /* Tamanho e estilo do título (nome da fazenda) */
  .fazenda-box h3 {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 18px; /* Ajuste o tamanho da fonte, se necessário */
  }
  
  /* Estilo dos parágrafos dentro da caixa */
  .fazenda-box p {
    color: #666;
    margin: 5px 0;
  }
  
  /* Destacar o tamanho da fazenda */
  .fazenda-box p strong {
    color: #000;
    font-weight: bold;
  }
  
  /* Responsividade: Ajustes para telas menores */
  @media (max-width: 768px) {
    .fazendas-list {
      padding: 20px;
      width: 100%; /* A lista ocupa 100% da tela em dispositivos menores */
    }
  
    .fazenda-box {
      padding: 15px; /* Ajuste o padding para telas menores */
    }
  }
  